pacote-download/trab2_arq2/traces/trace_gsm_decoder_me.txt
pacote-download/trab2_arq2/traces/trace_patricia_mi.txt
pacote-download/trab2_arq2/traces/trace_rijndael_encoder_mi.txt
pacote-download/trab2_arq2/traces/trace_fft_mi.txt
